@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        -- Typography (Headlines, Paragraphs, Lists, Anchors)
                
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        -- Grouped
        -- Nav
        -- Hero
        -- Snowy-mountain
        -- Forest
        -- Blockquote
        -- Footer
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Screen Reader
        - btn
--------------------------------------------------------------*/









/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */
*, 
*:after, 
*:before {
       

        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
html {                  
        color: #000;
        font: 1.5rem/1.5em 'EB Garamond', serif;
        text-align: center;
}
@media screen and (min-width:1024px){
        html {
                font: 1.5rem/1.5em 'EB Garamond', serif;
        }
}


/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */
h1,
h2,
li a {
        text-transform: uppercase;
}


/* ----- TYPOGRAPHY ----- */ 
h1 {
        font: 2em 'Montserrat', sans-serif;
        font-weight: 700;
        color: #fff;
        padding-bottom: 3em;
}
h2 {
        font: .7em 'Montserrat', sans-serif;
        font-weight: 700;
        color: #BCBCBC;
        letter-spacing: .25em;
}
ul { 
        list-style: none;
        padding-left: 0;
        margin: 0;
}

li { 
       display: inline-block;
       margin: .5em;
       
}

main p {
     font-size: .9rem;   
}

@media screen and (min-width:1024px){
        main p,
        main ul {
                font-size: .8rem;
        }
        h1 {
                font-size: 4rem;
                
        }
}



/* ----- ANCHOR ----- */
header li a {
        font-size: .5em;
        padding: 4px;
        margin: 0;
}
a {
        font: .8em 'Montserrat', sans-serif;
        padding: 8px;
        text-decoration: none;
        color: #BCBCBC;
        font-weight: 600;
        
}


main a:hover { 
        background-color: #1B6E4B;
}


/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */
.wrapper {
        width: 95%;
        margin: 0 auto;
}
.row {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
}
.img-responsive {
        max-width: 100%;
}
[class*="col-"] {
        padding: .5em .5em ;
}
[class*="col-"] [class*="col-"] {
        margin-left: -.5em;
        margin-right: -.5em;
}


.col-sm-1 {
        width: calc(100% * 1 /12);
}
.col-sm-2 {
        width: calc(100% * 2 /12);
}
.col-sm-3 {
        width: calc(100% * 3 /12);
}
.col-sm-4 {
        width: calc(100% * 4 /12);
}
.col-sm-5 {
        width: calc(100% * 5 /12);
}
.col-sm-6 {
        width: calc(100% * 6 /12);
}
.col-sm-7 {
        width: calc(100% * 7 /12);
}
.col-sm-8 {
        width: calc(100% * 8 /12);
}
.col-sm-9 {
        width: calc(100% * 9 /12);
}
.col-sm-10 {
        width: calc(100% * 10 /12);
}
.col-sm-11 {
        width: calc(100% * 11 /12);
}
.col-sm-12 {
        width: calc(100% * 12 /12);
}

@media screen and (min-width:768px) {
        .wrapper {
                width: 80%;
        }
        [class*='col-'] {
                padding: 10px;
        }
       
       

        .col-md-1 {
                width: calc(100% * 1 /12);
        }
        .col-md-2 {
                width: calc(100% * 2 /12);
        }
        .col-md-3 {
                width: calc(100% * 3 /12);
        }
        .col-md-4 {
                width: calc(100% * 4 /12);
        }
        .col-md-5 {
                width: calc(100% * 5 /12);
        }
        .col-md-6 {
                width: calc(100% * 6 /12);
        }
        .col-md-7 {
                width: calc(100% * 7 /12);
        }
        .col-md-8 {
                width: calc(100% * 8 /12);
        }
        .col-md-9 {
                width: calc(100% * 9 /12);
        }
        .col-md-10 {
                width: calc(100% * 10 /12);
        }
        .col-md-11 {
                width: calc(100% * 11 /12);
        }
        .col-md-12 {
                width: calc(100% * 12 /12);
        }
}

@media screen and (min-width:1024px) {
        .wrapper {
                width: 80%;
        }

        .col-lg-1 {
                width: calc(100% * 1 /12);
        }
        .col-lg-2 {
                width: calc(100% * 2 /12);
        }
        .col-lg-3 {
                width: calc(100% * 3 /12);
        }
        .col-lg-4 {
                width: calc(100% * 4 /12);
        }
        .col-lg-5 {
                width: calc(100% * 5 /12);
        }
        .col-lg-6 {
                width: calc(100% * 6 /12);
        }
        .col-lg-7 {
                width: calc(100% * 7 /12);
        }
        .col-lg-8 {
                width: calc(100% * 8 /12);
        }
        .col-lg-9 {
                width: calc(100% * 9 /12);
        }
        .col-lg-10 {
                width: calc(100% * 10 /12);
        }
        .col-lg-11 {
                width: calc(100% * 11 /12);
        }
        .col-lg-12 {
                width: calc(100% * 12 /12);
        }

}

/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */
/* ----- Grouped ----- */
#achievements,
#mission {
        text-align: left;
        margin-top: 3em;
}
#snowy-mountain-bg p:last-child,
#snowy-mountain-bg p:first-child {
        text-transform: uppercase;
}
#snowy-mountain-bg p:last-child a,
#snowy-mountain-bg p:first-child,
blockquote footer p,
footer a {
        font-weight: 600;
}

/* ----- hero ----- */
.mountain-bg {
        background: url(../img/about-hero.jpg) no-repeat center;
        
        
        -o-background-size: cover;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
#snowy-mountain-bg {
        background: url(../img/home-hero.jpg) no-repeat center;
        
        
        -o-background-size: cover;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
.forest-bg {
        background: url(../img/take-action-hero.jpg) no-repeat center;

        -o-background-size: cover;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
section > .forest-bg,
section > .mountain-bg {
        padding: 7em;
}

header img {
        margin-top: 2em;
}
@media screen and (min-width:768px) {
        header img {
                margin-top: 0px;
        }
}



/* ----- NAV ----- */
main nav { 
        position: sticky;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 2;
        align-self: flex-start;
}
.mountain-bg ~ main nav p, #what-we-do + main nav li {
        margin: 0;
}

main nav li:first-child {
        display: block;
}
header a { 
        color: #fff;
}
header li a:hover { 
        border-bottom: 2px solid #fff;
}
nav li p {
        font: .8em 'EB Garamond', serif;
        font-style: italic;
        color: #4B9475;
        text-transform: capitalize;
}
header nav li:last-child a {
        border: solid 1px #fff;
        border-radius: 20px;
}
header nav li:last-child a:hover {
        color: #1B6E4B;
        background-color: #fff;
        border-radius: 20px;
}
header [class*='col-'] {
        padding: 0;
}
@media screen and (min-width:1024px) {
        header nav {
                text-align: right;
        }
        header .row > div:first-child {
                text-align: left;
        }
        main nav a {
                padding: 0;
        }
        main nav a:hover {
                color: #1B6E4B;
        }
        main ul:last-child {
                padding-left: 1em;
        
        }
}
/* ----- #snowy-mountain ----- */

#snowy-mountain-bg h1 {
        padding: 0;
        margin: 0;
       
}
#snowy-mountain-bg p > a {
        background-color: #4B9475;
        border-radius: 20px;  
}
#snowy-mountain-bg p:last-child {
        padding-bottom: 5em;
}

#snowy-mountain-bg p:first-child {
        color: #fff;
        font: 2em 'Montserrat', sans-serif;
        margin-bottom: 0px;      
}
#snowy-mountain-bg p:first-child span {
        text-transform: lowercase;
        font: .8em 'EB Garamond', serif;
        font-style: italic;
}

.intro-p ~ div {
        margin: 0 auto;
}



@media screen and (min-width:768px) {
        #snowy-mountain-bg p:first-child {
                font-size: 3rem;
                font-weight: 700;
        }
        #snowy-mountain-bg h1 {
                text-align: left;
        }

}
@media screen and (min-width:1024px) {
        #snowy-mountain-bg p:first-child span {
                text-transform: lowercase;
        }
      
        .intro-p ~ div > p{
                margin-bottom: 5em;
        }
        header > .wrapper:first-child {
                padding-top: 1em;
        }
       
}
/* ----- forest-bg ----- */


@media screen and (min-width:1024px) {
        .wrapper > .col-center {
                margin: 3em 0em 3em 0em;
        }
}


/* ----- Blockquote ----- */

blockquote::before {
        content: '\"';
        text-align: center;
        font-size: 7rem;
        position: absolute;
        top: 0.4em;
        left: 45%;
        color: #BCBCBC;       
}
blockquote {
        padding-top: 3em;
        line-height: 1.2em;
        border-top: solid 1px #BCBCBC;
        border-bottom: solid 1px #BCBCBC;
        margin: 3em 0em 3em 0em;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
}
blockquote footer p {
        color: #BCBCBC;
        font: .8em 'Montserrat', sans-serif;
}


@media screen and (min-width:1024px) {
        .mountain-bg + main{
                text-align: left;
        }
        main nav li{
                display: block;
        }
        #achievements li {
                position: relative;
                top: 0;
                left: 0;
        }
        #achievements li:before {
                background: url(../img/tree-bullet@2x.jpg) no-repeat;
                -o-background-size: contain;
                -ms-background-size: contain;
                -webkit-background-size: contain;
                -moz-background-size: contain;
                background-size: contain;
                content: "";
                width: 25px;
                height: 25px;
                display: block;
                position: absolute;
                left: -20px;
                top: 0;
        }
}
/* ----- Footer ----- */
.footer {
        background-color: #1B6E4B;
}
footer address li {
        display: block;
        font-size: .9rem;
}
footer > div:first-child {
        background-color: #4B9475;
}
footer a {
        color: #fff;
}
footer address {
        padding: 40px 0px 40px 0px;
}
footer {
        margin-top: 5em;
}
blockquote footer {
        margin-top: 2em;
}
[class*="fa"] {
        font-size: 25px;
} 
@media screen and (min-width:1024px) {
        footer address li {
                display: inline-block;
        }
        
}

    
/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */
/* ----- content ----- */
.col-center {
        justify-content: center;
}
.intro-p {
        font-size: 1.5rem;
       
}
.vertical-space-small {
        margin: 2em 0em;
}
.btn {
        background-color: #4B9475;
        border-radius: 20px;
        color: #fff;
        text-transform: uppercase;
}

@media screen and (min-width:1024px) {
        .intro-p {
                font-size: 1.3rem;
                
        }
}

 